@using MovieCatalogue.Web.ViewModels.Movie;
@model AddMovieViewModel

@{
    ViewData["Title"] = "Edit Movie";
}


<h2>Edit Movie</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="@Model.Title" class="control-label"></label>
        <input asp-for="@Model.Title" class="form-control" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description" class="control-label"></label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.GenreId" class="form-label-add-edit">Select Genres</label>
        <select asp-for="@Model.GenreId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
            <option value="">Select Genres...</option>
        </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Director" class="control-label"></label>
        <input asp-for="@Model.Director" class="form-control" />
        <span asp-validation-for="@Model.Director" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cast" class="control-label"></label>
        <input asp-for="@Model.Cast" class="form-control" />
        <span asp-validation-for="@Model.Cast" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Duration" class="control-label"></label>
        <input asp-for="@Model.Duration" class="form-control" />
        <span asp-validation-for="@Model.Duration" class="text-danger"></span>
        <small class="text-muted">Durating in minutes.</small>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" type="date" id="example-date-input">
        <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
        <small class="text-muted">ReleaseDate must be MM-DD-YYYY.</small>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TrailerUrl" class="control-label">Trailer URL</label>
        <input asp-for="@Model.TrailerUrl" class="form-control" />
        <span asp-validation-for="@Model.TrailerUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PosterUrl" class="control-label">Poster URL</label>
        <input asp-for="@Model.PosterUrl" class="form-control" />
        <span asp-validation-for="@Model.PosterUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" class="form-control" type="number" step="1" min="1" max="5" />
        <span asp-validation-for="Rating" class="text-danger"></span>
        <small class="text-muted">Please provide a rating between 1 and 5.</small>
    </div>

    <div class="mb-2">
        <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
    </div>
</form>